.text
{
    text-align: center;
    margin: 40px auto;
    font-size: 19px;
    width: 800px;
}
.cover
{
    margin:0px 0px;
    width: 1350px;
    height: 400px;
}
.img
{
    width: 330px;
    height: 200px;
}