.about-page {
    text-align: center;
    padding-bottom: 40px;
}

.cover {
    margin: 10px; ;
    width: 90%;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.about-text {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--color-white);
    box-shadow: var(--page-shadow);
    border-radius: 12px;
}

.about-text h1 {
    font-size: var(--font-size-xlg);
    color: var(--color-primary);
    margin-bottom: 15px;
    position: relative;
}

.about-text h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--color-primary);
    margin: 10px auto 0;
    border-radius: 2px;
}

.about-text p {
    font-size: var(--font-size-base);
    color: var(--color-secondary-text);
    line-height: 2;
    text-align: justify;
}

.about-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px 50px;
}

.about-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--page-shadow);
    transition: transform 0.3s ease;
}

.about-gallery img:hover {
    transform: scale(1.05);
}
