
        .container {
            width: 80%;
            margin: auto;
            margin-top: 30px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            color:var(--color-primary);
            text-align: center;
            padding-bottom:30px;
        }
        h1::after {
            content: "";
            display: block;
            width: 80px;
            height: 4px;
            background-color: var(--color-primary);
            margin: 10px auto 0;
            border-radius: 2px;
          }
          
      
        h2
    {
        margin: 10px;
        padding: 10px;
        color: var(--color-primary);
    }
        
       
        .form {
            margin-bottom: 15px;
        }
         label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
          
        }
       
        textarea {
            height: 150px;
        }
     .innersec {
            flex-basis: 48%;
            margin-bottom: 15px;
            padding: 15px;
            border-radius: 5px;
            color: var(--color-text);
        }