.container {
    width: 85%;
    margin: 30px auto;
    padding: 30px;
    background: var(--color-white);
    box-shadow: var(--page-shadow);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
        .container h1 {
            text-align: center;
            margin-bottom: 20px;
            color:var(--color-primary);
        }
        h1::after {
            content: "";
            display: block;
            width: 80px;
            height: 4px;
            background-color: var(--color-primary);
            margin: 10px auto 0;
            border-radius: 2px;
          }
          
        .input {
            margin-bottom: 20px;
        }
        
        .input label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            color: #555;
        }
        
        .input input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 9px;
            font-size: 16px;
        }
        
        .input input:focus {
            outline:none;
        }
        
      
        .link {
            color: #666;
            text-decoration: none;
            /* display: block; */
        }
        
        
        
        .link span {
            color: #4285f4;
            font-weight: bold;
        }
